
.advance-container{
    padding: 3% 5%;
    display: inline-block;
    /* width: 90%; */
}

.advance-header-container{
    width: 100%;
    display: inline-block;
    align-items: center;
}

.advance-title{
    float: left;
    margin: 0;
    color: var(--secondary-color);
}

.advance-add-btn-wrapper{
    float: right;
}

.advance-date-range-container{
    display: flex;
    float: left;
    margin-top: 0;
}

.advance-range-label{
    line-height: 1;
    padding-top: 0.3rem;
    padding-right: 0px;
    font-size: 14px;
    opacity: 0.8;
    color: black;
    /* font-size: small; */
    /* margin-right: 0.8rem; */
}

.ant-picker-range-separator{
    opacity: 0.8;
    color: black;
}

.advance-date-range-container .ant-picker-input input{
    color: var(--secondary-color);
    font-weight: 600;
}

.advance-table-container{
    margin-top: 7%;
    height: 50%;
    width: 29vw;
}

.ant-pagination-item-active, .ant-pagination-item-active a{
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.advance-operation{
    margin-right: 0.5rem;
    font-size: smaller;
}

.advance-delete{
    color: red;
}

.advance-date-range-container .ant-picker-suffix, .advance-date-range-container .ant-picker-clear{
    display: none;
}
