@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

button{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-add-user{
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1.5px solid var(--secondary-color);
  padding: 0.25vw 1vw;
  margin-left: 0.5vw;
  margin-top: 3vh;
}

.add-user-icon{
  margin-right: 0.5vw;
}

.btn-add-user:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-sign-in{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1em 1.5em;
  border-radius: 10px;
  margin: 1vw;
  border-color: transparent;
}

.btn-submit{
  background-color: var(--secondary-color);
  color: var(--primary-color);;
  border-radius: 10px;
  border-color: transparent;
  font-size: 20px;
  margin-left: 51vw;
  margin-top: 35vh;
  height: 3.5vh;
  width: 17.5vh;
}

.btn-sign-in:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-user-icons{
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 1vh;
}

.btn-user-icons:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.dark{
  background-color: var(--secondary-color);
  border-color: transparent;
  color: var(--primary-color);;
}

.light{
  background-color: var(--primary-color);;
  border-color: var(--secondary-color);
  border-style: solid;
  /* border-width: 2px; */
  color: var(--secondary-color);
}

.user-icon{
  margin-right: 5px;
}
