@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

button{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}



.btn-add{
  border-radius: 5px;
  background-color: white;
  color: #003459;
  border: 1.5px solid #003459;
  padding: 0.25vw 1vw;
}

.btn-add:hover{
  box-shadow: 0 0 0 0.25rem #A0B4C3;
}

.btn-sign-in{
  background-color: #003459;
  color: white;
  padding: 1em 1.5em;
  border-radius: 10px;
  margin: 1vw;
  border-color: transparent;
}

.btn-submit{
  background-color: #003459;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  font-size: 20px;
  margin-left: 51vw;
  margin-top: 35vh;
  height: 3.5vh;
  width: 17.5vh;
}

.btn-sign-in:hover{
  box-shadow: 0 0 0 0.25rem #A0B4C3;
}

.btn-user-icons{
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 1vh;
}

.btn-user-icons:hover{
  box-shadow: 0 0 0 0.25rem #A0B4C3;
}

.dark{
  background-color: #003459;
  border-color: transparent;
  color: white;
}

.light{
  background-color: white;
  border-color: #003459;
  border-style: solid;
  /* border-width: 2px; */
  color: #003459;
}

.user-icon{
  margin-right: 5px;
}
