@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

button{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-add-user{
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1.5px solid var(--secondary-color);
  padding: 0.25vw 1vw;
  margin-left: 0.5vw;
  margin-top: 3vh;
}

.add-user-icon{
  margin-right: 0.5vw;
}

.btn-add-user:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-sign-in{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1em 1.5em;
  border-radius: 16px;
  margin: 1vw;
  border-color: transparent;
}

.btn-submit{
  background-color: var(--secondary-color);
  color: var(--primary-color);;
  border-radius: 16px;
  border-color: transparent;
  font-size: 20px;
  height: 4vh;
  width: 17.5vh;
}

.btn-sign-in:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-user{
  border-radius: 16px;
  padding: 5px 10px;
  margin-right: 1vh;
  margin-top: 0.5vh;
}

.btn-user:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
  transition: ease-in;
  transition-duration: 0.2s;
}

.dark{
  background-color: var(--secondary-color);
  border-color: transparent;
  color: var(--primary-color);;
}

.light{
  background-color: var(--primary-color);;
  border-color: var(--secondary-color);
  border-style: solid;
  /* border-width: 2px; */
  color: var(--secondary-color);
}

.user-icon, .add-icon{
  margin-right: 5px;
}

.btn-logout{
  font-weight: 700;
  font-size: 20px;
  border:none;
  /* color: var(--secondary-color); */
  cursor: pointer;
  height: 5vh;
  width: 17.5vh;
  border-radius: 1vh;
}

.btn-logout:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-large{
  height: 4vh;
  width: 17.5vh;
  border-radius: 1vh;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1vw;
}

.btn-large:hover{
  box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}

.btn-calendar-edit{
  border-radius: 16px;
  padding: 0.2rem 10px;
  /* margin-right: 1vh; */
  /* margin-top: 0.5vh; */
}

.btn-calendar-prev-next{
  border: none;
  border-radius: 5px;
  padding: 0 50%;
  margin-top: 0;
  height: 10 0%;
  width: fit-content;
  background-color: transparent;
  font-size: 1.5rem;
}

.btn-attendance-status{
  border-radius: 16px;
  border: 1px solid #003459;
  margin-right: 0.5rem;
}

.btn-attendance-status:hover{
  box-shadow: 0 0 0 0.2rem #A0B4C3 !important;
}

.btn-attendance-status.present{
  background-color: #003459 !important;
  color: #f2f2f2;
}

.btn-attendance-status+.halfday{
  background-color: #5A768A;
  color: #f2f2f2;
}

.btn-attendance-status+.absent{
  background-color: #8A8A8A;
  color: #f2f2f2;
}

.btn-add-advance{
  border-radius: 16px;
  border: none;
  padding: 0.25rem 0.7rem 0.1rem 0.5rem;
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
