.expense-table-container{
    width: 102%;
    margin-left: auto;
    margin-right: auto;
}

.expense-table-wrapper .expense-table-qty-input input{
    width: 0.1vw;
}

.ant-table-summary {
    z-index: 0 !important;
}

.expenses-add-item-wrapper{
    float: left;
    margin-bottom: 0.5vh;
}

.expense-table-qty-input{
    width: 95%;
    padding: 0;
}
.expense-table-qty-input input{
    padding: 0 0.5vw !important;
}

.ant-input,
.ant-input-number-input,
.ant-picker{
    height: 4.5vh !important;
    border-radius: 5px !important;
    border-color: hsl(0, 0%, 80%);
}

.expense-table{
    height: 50vh;
    /* overflow-y: scroll; */
}

.expense-table-container .ant-picker-range-separator{
    padding: 0 4px;
}