.calendar-container{
    padding: 3% 5%;
    /* background-color: white; */
    display: block;
}

.calendar-header-container{
    /* width: inherit; */
    /* display: ; */
    /* margin: 0.5rem auto 0rem auto; */
    margin-left: 4.5vw;
    display: inline-flex;
}

.calendar-title-container{
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.calendar-title-wrapper h2{
    margin: 0 auto 0 auto;
    color: var(--secondary-color);
    padding: 0;
    float: left;
    /* width: 100%; */
}

.calendar-header-container h3{
    margin: 1% 0;
    width: 9rem;
    color: black;
    font-size: larger;
}

.calendar-curr-month-wrapper{
    border: transparent;
    background-color: transparent;
}

.calendar-body{
    padding: 0.5vh 5vh;
    /* margin: auto; */
}

.calendar-daynames-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 0.5rem;
    column-gap: 0rem;
    width: 100%;
    margin: auto;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgb(189, 189, 189);  
}

.calendar-days-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0rem;
    /* row-gap: 0.5rem; */
    margin: auto;
}

.calendar-days-container.six-rows{
    row-gap: 1rem;
}

.calendar-days-container.five-rows{
    row-gap: 1.5rem;
}

.calendar-daynames{
    font-weight: 400;
    font-size: smaller;
    color: black;
}

.calendar-day-wrapper{
    width: fit-content;
    margin: auto;
    /* clip-path: circle(); */
    /* padding: 0.5rem; */
    border-radius: 32px;
}

.calendar-day-wrapper button{
    border: transparent;
    color: var(--secondary-color);
    background-color: transparent;
    font-weight: 500;
    font-size: medium;
    height: 2rem;
    width: 2rem;
    /* shape-outside: circle(); */
}


.calendar-day-wrapper.disabled{
    opacity: 75%;
}
.calendar-before-month, .calendar-after-month {
    opacity: 25% !important;
}

.calendar-day-wrapper.today{
    box-shadow: 0 0 0px 0.3rem var(--secondary-color) !important;
    /* background-color: #359C33; */
    border-radius: 50%;
}

.calendar-day-attendance{
    clip-path: circle();
    margin: auto;
}
.calendar-day-attendance.present{
    /* border-radius: 16px; */
    background-color: #359C33;
    color: white;
}
.calendar-day-attendance.halfday{
    background-color: #e78349;
    color: white
}
.calendar-day-attendance.absent{
    background-color: #C5302D;
    /* border: 1px solid #C5302D; */
    color: var(--primary-color)
}

.present button, .halfday button, .absent button{
    color: white;
}


.tooltip, .popover{
    background-color: white;
    color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.25rem 0.5rem;
    font-size: small;
}

.popover-arrow{
    border: #5A768A;
}

.tooltip span::first-letter{
    text-transform:capitalize;
}



.calendar-prev-month-wrapper, .calendar-next-month-wrapper{
    padding-right: 5%;
}

.popover{
    padding: 0.5rem 0.25rem 0.75rem 0.25rem;
}
.calendar-attendance-btn-wrapper{
    width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
}
