@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.expenses-container {
    font-family: "Poppins", sans-serif;
    background-color: #003459;
    color:white;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
}

.expenses-wrapper{
    display: grid;
    align-items: center;
    grid-template-columns: 15vw 59vw 26vw;
}

.expenses-main-container{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 10% 10% 5% 75%;
    height: 92vh;
    width: 95%;
    margin-right: 1vw;
    /* margin-left: 1vw; */
    padding-left: 1vw;
    background-color:white;
}

.expenses-header{
    /* margin-left: 2%; */
    margin-top: 2%;
    height: 70%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 71vw;
}

.expenses-header h1{
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    color:#003459;
    font-size: 2em;
}

.expenses-header h2{
    margin: 0;
    padding: 0;
    padding-right: 0.5vw;
    padding-left: 1vw;
    color:#003459;
    font-size: 1em;
    /* margin-bottom:; */
}

.expenses-selects-container{
    height: 100%;
    /* overflow-x: scroll; */
    width: 55vw;

}

.expenses-selects-container h2{
    margin: 0;
    padding: 0;
    padding-right: 1vw;
    padding-left: 1vw;
    color:#003459;
    font-size: 1.2em;
    /* margin-bottom:5%; */
}

.expenses-summary-container{
    border-radius: 10px;
    display: block;
    height: 84vh;
    width: 83%;
    background-color: white;
    padding: 7.5% 5%;
    color: var(--secondary-color);
    text-align: left;
}

.expenses-summary-container h2{
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    color:#003459;
    /* font-size: 2em; */
}
.expenses-summary-container-header{
    margin-bottom: 2vh;
    display: inline-flex;
    width: 100%;
}
.expenses-summary-container-header h2{
    width: max-content;
}

.expenses-summary-section{
    border-bottom: 1px solid #ececec;
    width: 19vw;
    margin: 0.5vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
}
.expenses-summary-name{
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
    margin: 0;
    margin-bottom: 0.5vh;
    
}
.expenses-summary-value{
    float: right;
    font-size: 1rem;
    align-items: center;
    /* width: 20%; */
    text-align: right;
    margin-bottom: 0.5vh;
}

.expenses-summary-section.total{
    margin-top: 36vh;
    border-bottom: none;
}

.expenses-summary-section.total h4, 
.expenses-summary-section.total text{
    font-weight: 800 !important;
    font-size: large;
}

.expenses-summary-export-btn-wrapper{
    float: right;
    margin-left: 2vw;
}

.expenses-grow-menu{
    border-radius: 4px;
    height: 3vh;
    width: 9vw;
    padding-left: 0.5vw;
    align-items: center;
    margin-right: 1vw;
}

.expenses-date-range-container{
    display: inline-block;
    /* float: left; */
    margin-top: 0;
    width: 31vw;
    align-items: center;
}
.expenses-rangepicker{
    margin-top: 0.5vh;
    align-items: center;
    float: left;
}

.expenses-range-label{
    line-height: 1;
    padding-top: 0.3rem;
    padding-right: 0px;
    font-size: 14px;
    opacity: 0.8;
    color: black;
    float: left;
    margin-top: 1.25vh;
    /* font-size: small; */
    /* margin-right: 0.8rem; */
}

.ant-picker-range-separator{
    opacity: 0.8;
    color: black;
}

.expenses-date-range-container .ant-picker-input input{
    color: var(--secondary-color);
    font-weight: 600;
}

.expenses-grow-btn-container{
    display: flex;
    float: right;
    /* margin-left: 12vw; */
}

.expenses-grow-btn-container .btn-delete{
    margin-right: 1vw;
}

.expenses-date-range-container .ant-picker-suffix, .expenses-date-range-container .ant-picker-clear{
    display: none;
}

.ant-tabs-nav{
    margin-bottom: 1vh !important;
}

