.payroll-container {
    background-color: #003459;
    color:white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.payroll-content-wrapper {
    display: flex;
}

.payroll-inner-container {
    /* display:flex; */
    /* flex-direction: column;
    justify-content: flex-start; */
    text-align: left;
    padding-top: 1vh;
    padding-left: 3vh;
    color:#003459;
    /* display:flex; */
    margin-left: 30vh;
    height: 90vh;
    width: 83vw;
    background-color: white;
    border: none;
    border-radius: 1vh;
}

.payroll-header h1{
    font-size: 2em;
    margin-bottom: 0;
}

.payroll-date-range-label p{
  font-weight: bold;
  display:flex;
}

.payroll-date-range-container{
  display:flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 30vw;
}

.payroll-init-date-container {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.payroll-end-date-container {
  margin-left: 0.5vw;
  margin-right: 1.0vw;
}

.payroll-menu-labels{
    display:flex;
    flex-direction: row;
    font-size: 0.6em;
    color: #0A1929;
}

.payroll-menu-label-employees{
    margin-right: 21.3vw;
}

.payroll-menu-label-position{
    margin-right: 22.2vw;
}

.payroll-dropdown-menu{
    width: 25vw;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-size: 1.0em;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 2vh;
    padding-right: 5vh;
    margin-right: 2vw;
}

.payroll-dropdown-options {
  display:flex;
  flex-direction: row;
}

.payroll-menus-container {
  display:flex;
  flex-direction: row;
  width: 81vw;
}

.payroll-menu-employees-dropdown, .payroll-menu-positions-dropdown, .payroll-menu-payouts-dropdown  {
  width: 30%;
  margin-right: 3.5%;
}

.payroll-separator-bar {
  margin-top: 1vh;
  background-color: var(--tertiary-color) ;
  height: 1vh;
  width: 79vw;
  border-radius: 5px;
}

.payroll-generate-button-container {
  margin-bottom: 1vh;
}

.payroll-details-table {
  width: 79vw;
}

