
.payroll-additional-details{
    display:flex;
    flex-direction: row;
    font-size: 0.39em;
    color: var(--secondary-color);
    font-weight: 600;
}

.payroll-additional-details-gross{
    margin-left: 40.3vw;
    margin-right: 5vw;
}

.payroll-additional-details-gross-val{
    margin-right: 11vw;
}

.payroll-additional-details-net{
    margin-right: 5vw;
}

.payroll-additional-details-net-val{
    margin-right: 5vw;
}


