@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */

.sidebar-container{
    font-family: "Poppins", sans-serif;
    display:flex;
}

.sidebar-actual{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 14vw;
    padding: 16px;
}


.sidebar-header {
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding-left: 1.5vw;
    text-align: left;
}

.sidebar-header h1 {
    font-size: 40px;
    margin: 0;
}

.sidebar-header p {
    font-size: 21px;
    margin: 0;
    color: var(--primary-color);
}

.sidebar-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh /* subtract the height of the header and footer */
}

.sidebar-menu{
    margin-left: 2vh;
    /* width: 100%; */
    font-size: 1.6em;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
}

.sidebar-menu > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* adjust the margin as desired */
}

.sidebar-link{
  /* color: rgba(242,242,242,0.3);  */
  color: white;
  opacity: 0.3;
  transition: color 0.2s;
  text-decoration: none;
}


.sidebar-link:focus,
.sidebar-menu a.active{
  color: rgba(242,242,242,1); 
  outline:none;
  opacity: 1;
}

.sidebar-employees-icon,
.sidebar-expenses-icon,
.sidebar-user-icon {
  margin-right: 1vw; /* adjust the margin as desired */
  height: 1.8vw;
  width: 2.0vw;
}
.sidebar-logout-container{
    margin-top: auto;
}

.sidebar-logout-button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border:none;
    color: var(--secondary-color);
    cursor: pointer;
    height: 5vh;
    width: 17.5vh;
    border-radius: 1vh;
}

.sidebar-expenses-icon,
.sidebar-user-icon,
.sidebar-employees-icon{
  /* margin-right: 0.5vw; */
  color: white;
  
}

.sidebar-employees,
.sidebar-expenses,
.sidebar-users{
    flex-direction: row;
    cursor: pointer;
}

.sidebar-item{
  margin: 1.5vh 0;
}