@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.add-employee-back, 
.add-employee-back a:visited, 
.add-employee-back a:link{
    margin-top: 1vh;
    color: var(--secondary-color);
    text-decoration: none;
}

.add-employees-container {
    font-family: "Poppins", sans-serif;
    background-color: #003459;
    color:white;
    /* height: 100vh; */
    width: 27.5vw;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.add-employees-content-wrapper {
    display: flex;
}

.add-employee-form-labels{
    display:flex;
    margin-right:vw;
}

.add-employee-form-container {
    text-align: left;
    padding-top: 1vh;
    padding-left: 3vh;
    color:#003459;
    height: 92vh;
    background-color: white;
    border: none;
    border-radius: 8px;

}

.add-employee-photo-container{
  background-color: #f2f2f2;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  border: none;
  z-index: 100000;
  border-radius: 16px;
}

.camera-icon{
  width: 3rem; 
  height: 3rem;
  margin: auto;
}

.add-employee-header h2{
    /* font-size: 2em; */
    margin:0;
}

/* REMOVE UP DOWN ARROWS IN INPUT OF TYPE NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.testing-flex Col{
    display:flex;
    flex-direction: row;
}

.add-employee-row{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: flex;
}

.add-employee-input-label{
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}

.add-employee-input-box{
    width: 22.5vw;
    height: 4vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1.0em;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 0.5vw;
    margin-right: 1vw;
}

.add-employee-input-box.first-name{
    margin-bottom: 1vh;
}
.add-employee-input-box.half-size{
    width: 10.5vw;
}
.add-employee-input-box.dropdown{
    width: 11.5vw;
}

.add-employee-name-container{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.add-employee-input-label{
    text-align: left;
    /* font-size: 1.2em; */
    font-weight: 700;
    display:flex;
    flex-direction: row;
    color: #0A1929
}

.add-employee-input-box.is-invalid, 
.add-employee-role-menu.is-invalid{
    border: 1px solid #A21818;
    outline: #A21818 auto 1px;
}

.add-employee-input-box.is-invalid:focus-visible, 
.add-employee-role-menu.is-invalid:focus-visible{
    border: 1px solid #A21818;
}

.add-employee-button-container{
    float: right;
    margin-top: 2vh;
    margin-right: 2.5vw;
}

.half-size+.invalid-feedback{
    width: 80%;
}

