.employee-details-grid{
    max-height: 92vh;
    width: 63.5vw;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-areas: 
        "details details calendar calendar calendar calendar"
        "advance advance advance salary salary salary";
    column-gap: 1vw;
    row-gap: 1vw;
}
.employee-details-content-container{
    grid-area: details;
    background-color: white;
    color: var(--secondary-color);  
    border-radius: 8px;
    padding: 1vh 1vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 43vh;
}

.employee-details-back{
    margin-top: 1vh;
    margin-bottom: 0;
    padding-left: 0.5vw;
    text-align: left;
}

.employee-details-section{
    width: 100%;
    text-align: left;
}

.employee-details-image{
    margin: 0;
    width: 6vw;
    height: 6vw;
    
}
.employee-details-image img{
    margin: 0;
    /* margin-left: 1vw; */
    height: 100%;
    width: 100%;
}

.employee-details-section.header{
    display: flex;
    width: 100%;
}
.employee-details-section.name-position{
    display: block;
    /* margin-left: 1vw; */
    /* margin: auto 0 auto 1vw; */
    margin: 1vh 0 auto 0;
    /* width: 60%; */
}
.employee-details-section.header h1{
    line-height: 0.9;
    word-wrap:break-word;
    font-size:x-large;
}
.employee-details-section.header h1, 
.employee-details-section.header p{
    text-align: left;
    margin: 0;
}
.employee-details-section{
    margin: 0.5rem;
    width: 85%;
}
.employee-details-label{
    font-size: smaller;
    font-weight: 500;
    margin: 0;
}
.employee-details-info{
    display: flex;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    height: 0.9rem;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    margin: 0;
    width: 100%;
}
.employee-details-section.rate-payout{
    display: flex;
    /* margin-left: 1vw; */
    /* margin: auto 0 auto 1vw;
    width: 60%; */
}
.employee-details-subsection.rate{
    width: 45%;
    margin-right: 2.5vw;
}
.employee-details-subsection.payout{
    width: 45%;
    /* margin-left: 1rem; */
}

.employee-details-section.btns{
    width: 97%;
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.employee-details-delete-btn{
    float: left;
    margin-left: 0.5rem;
}
.employee-details-edit-btn{
    float: right;
}

.employee-details-calendar-container{
    grid-area: calendar;
    display: block;
    background-color: white;
    border-radius: 8px;
    height: 45vh;
}

.employee-details-advance-container{
    grid-area: advance;
    background-color: white;
    height: 45vh;
    border-radius: 8px;
    margin-bottom: 4vh;
}

.employee-details-salary-container{
    grid-area: salary;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 4vh;
}

.employee-details-content-container::-webkit-scrollbar{
    display: block;
    width: 10px;
}
.employee-details-content-container::-webkit-scrollbar-track{
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.05);
    border-radius: 15px;
}
    
.employee-details-content-container::-webkit-scrollbar-thumb {
    background-color: #003459;
    border-radius: 15px;
    border-right: none;
    border-left: none;
}

