@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a:visited { 
    text-decoration: none; 
    /* color: var(--secondary-color);  */
   }

.employees-container {
    font-family: "Poppins", sans-serif;
    background-color: #003459;
    color:white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.employees-content-wrapper {
    display: flex;
}
/* 
.employee-list-container {
    padding-top: 1vh;
    padding-left: 3vh;
    color:#003459;
    display:flex;
    margin-left: 30vh;
    height: 90vh;
    width: 50vh;
    background-color: white;
    border: none;
    border-radius: 1vh;
}  */

.employee-list-container {
    padding-top: 1vh;
    padding-left: 3vh;
    color: var(--secondary-color);
    /* display:flex; */
    margin-left: 30vh;
    height: 91vh;
    width: 20vw;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1vh;
    text-align: left;
}

.employee-list-header{
    font-size: 28;
    font-weight: 700;
    display:grid;
    /* width: 110%; */
    padding-top: 1vw;
}
  
.employee-list-header .btn-add{
    height: fit-content;
    margin-top: 2.5em;
    margin-left: 1.5em;
    padding-top: 0;
}

.employee-list-header h1{
    margin-top: 0;
    margin-right: 1vw;
    margin-bottom: 0;
}

.employee-list-body{
    /* overflow-y: scroll;
     */
    height: 80vh;
    margin-right: 2vh;
    position: relative;
    /* color: var(--secondary-color); */
}


.employee-list-body-wrapper{
    height: 99%;
    width: 100%;
    overflow-y: scroll;
}

.employee-list-body-wrapper::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.employee-list-body-wrapper::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.05);
    border-radius: 15px;
}
    
.employee-list-body-wrapper::-webkit-scrollbar-thumb {

    background-color: #003459;
    border-radius: 15px;
    border-right: none;
    border-left: none;
}

/* .employee-list-body-wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.employee-list-body-wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
} */

/* .employee-list-body::-webkit-scrollbar{
position: absolute;
   left: 0;
} */



.employee-info{
    margin: 0;
}

.employee-list-content{
    padding-left: 10px;
    margin: 3% 0%;
}

.employee-list-link:link, .user-list-link:visited{
    /* color: var(--secondary-color);   */
    text-decoration: none;
}

.employee-list-name{
    font-weight: 700;
}
  
  
.employee-list-link div text{
    color: var(--secondary-color);
    padding-left: 10px;
}

.employee-list-calendar-container{
    
    /* padding-top: 1vh;
    padding-left: 3vh; */
    color: var(--secondary-color);
    display:block;
    margin-left: 2.5vh;
    width: 60vw;
    height: 92vh;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1vh;
    text-align: left;
}
