@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.add-users-container {
    font-family: "Poppins", sans-serif;
    background-color: #003459;
    color:white;
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    align-items: center;
}

.detail-header p{
    font-weight: 700;
}

.add-users-content-wrapper {
    /* display: flex; */
}

.add-user-container {
    /* display:flex; */
    /* flex-direction: column;
    justify-content: flex-start; */
    text-align: left;
    padding-top: 1vh;
    padding-left: 3vh;
    color:#003459;
    /* display:flex; */
    margin-left: 30vh;
    height: 90vh;
    width: 170vh;
    background-color: white;
    border: none;
    border-radius: 1vh;
}

.add-user-header h1{
    font-size: 28;
    font-weight: 700;
    margin-bottom:0;
}

.add-user-input-box{
    width: 18vw;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 2vh;
    margin-right: 1vw;
}


/* .add-user-address-input-box input{
    width: 90%;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-size: 1.1em;
    font-family: 'Outfit';
    letter-spacing: 0.5px;

} */

.add-user-name-container{
    margin-bottom: 3vh;
}


.add-user-input-label{
    text-align: left;
    font-weight: 600;
}

/* .add-user-role-input-container form{
    font-family: "Poppins", sans-serif;
    width: 90%;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-size: 1.1em;
    font-family: 'Outfit';
    letter-spacing: 0.5px; 
}

.add-user-role-input-container select{
    position: absolute;
    color: #5C5C5C;
    width: 16vw;
    height: 5.5vh;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
    transition: 0.4s;
    border:none;
    border-radius:1vh;
    background-color: #E1E1E1;
    padding: 15px 15px 15px 15px;
} */

.add-user-submit-button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 51vw;
    margin-top: 35vh;
    border:none;
    color: #fff;
    background-color: #003459;
    cursor: pointer;
    height: 3.5vh;
    width: 17.5vh;
    border-radius: 1vh;
}