@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.edit-user-user-list-wrapper{
    width: fit-content;
    margin-right: 1vw;
}

.edit-users-container {
    font-family: "Poppins", sans-serif;
    background-color: #003459;
    color:white;
    /* max-width: 100vh; */
    /* width: 100vw; */
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.edit-users-content-wrapper {
    display: flex;
    /* max-height: 100vh; */
}

.edit-user-form-labels{
    display:flex;
    margin-right:vw;
}

.edit-user-row-container{
    display: inline-flex;
}
.edit-user-row-container .col{
    width: 10vw;
}

.edit-user-form-container {
    /* display:flex; */
    /* flex-direction: column;
    justify-content: flex-start; */
    text-align: left;
    padding: 3vh 3vh;
    color:#003459;
    /* display:flex; */
    /* margin-left: 30vh; */
    height: 86vh;
    width: 25vw;
    background-color: white;
    border: none;
    border-radius: 1vh;
    /* margin-top: 4vh; */
}
.edit-user-header{
    display: inline-block;
    align-items: center;
    width: 100%;
}
.edit-user-header h2{
    float: left;
    margin:0;
    /* width: fit-content; */
    /* margin: 0 !important; */
}



.testing-flex Col{
    display:flex;
    flex-direction: row;
}

.edit-user-input-box{
    width: 22vw;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 1vw;
    margin-right: 1vw;
}

.edit-user-input-box.contact-no{
    width: 10vw;
}

.edit-user-input-box.name.first{
    margin-right: 2px;
    margin-bottom: 1vh;
    width: 22vw;
    /* border-radius: 8px 0 0 8px; */
    /* border-right: 3px solid #d5d5d5; */
}
.edit-user-input-box.name.middle{
    margin-right: 1vw;
    width: 10vw;
    /* border-right: 3px solid #d5d5d5; */
    /* border-radius: 0; */
}
.edit-user-input-box.name.last{
    margin-right: 0vw;
    width: 10vw;
    /* border-radius: 0 8px 8px 0; */
}

.edit-user-form-container h4{
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}

.edit-user-name-container{
    margin-bottom: 3vh;
}

.edit-user-input-label{
    text-align: left;
    font-weight: 700;
    display:flex;
    flex-direction: row;
}

.edit-user-second-row-label{
    display:flex;
    flex-direction: row;
}

.edit-user-second-row-label-username{
    margin-right: 14.5vw;
    /* font-size: medium; */
}

.edit-user-second-row-label-contact{
    margin-right: 12.8vw;
}

.edit-user-third-row-label{
    display:flex;
    flex-direction: row;
}

.edit-user-third-row-label-role{
    margin-right: 17.7vw;
}

.edit-user-third-row-label-password{
    margin-right: 14.001vw;
}

.edit-user-role-menu{
    width: 11vw;
    height: 5vh;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 2vh;
    margin-right: 1vw;
}

.edit-users-content-wrapper .row{
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.edit-user-hr{
    width: 92%;
    margin-left: 0;
    opacity: 50%;
}

.edit-user-header .user-details-back{
    margin: 0;
}

.edit-user-submit-container{
    
    margin-top: 1vh;
    float: right;
    padding-right: 2vw;
}
.edit-user-delete-container{
    margin-top: 1vh;
    float: left;
    padding-left: 0.5vw;
}