@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.users-container {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.users-content-wrapper {
    display: flex;
}

.user-list-container {
    padding-top: 1vh;
    padding-left: 3vh;
    color: var(--secondary-color);
    /* display:flex; */
    margin-left: 30vh;
    height: 92vh;
    width: 20vw;
    background-color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
}

.user-list-header{
    font-size: 28;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    /* width: 110%; */
    padding-top: 1vw;
}

.users-add-btn-wrapper{
    width: fit-content;
}

.user-list-header h1{
    margin-top: 0;
    margin-bottom:0;
    margin-right: 1vw;
}

.user-list-body{
    overflow-y: scroll;
    
    height: 75vh;
    margin-right: 2vh;
    display: block;
    /* color: var(--secondary-color); */
}


.user-info{
    margin: 0;
}

.user-list-content{
    margin: 3% 0%;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
}
.user-list-content.highlight{
    padding: 0.5vw;
    padding-bottom: 0.6vw;
    background-color: var(--secondary-color);
    border-radius: 16px;
}
.user-list-content.highlight p{
    color: white;
}


.user-list-link:link, .user-list-link:visited{
    color: var(--secondary-color);  
    text-decoration: none;
}

.user-list-name{
    font-weight: 700;
    margin: 0;
}

.user-list-username{
    margin: 0;
    font-size: small;
    opacity: 80%;
    font-style: italic;
}
  
  
