@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.users-container {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.users-content-wrapper {
    display: flex;
}

.user-list-container {
    padding-top: 1vh;
    padding-left: 3vh;
    color: var(--secondary-color);
    /* display:flex; */
    margin-left: 30vh;
    height: 91vh;
    width: 25vw;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1vh;
    text-align: left;
}

.user-list-header{
    font-size: 28;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    /* width: 110%; */
    padding-top: 1vw;
}

.user-list-header .btn-add{
    height: fit-content;
    margin-top: 2.5em;
    margin-left: 1.5em;
}

.user-list-header h1{
    margin-top: 0;
    margin-bottom:0;
    margin-right: 1vw;
}

.user-list-body{
    overflow-y: scroll;
    
    height: 80vh;
    margin-right: 2vh;
    display: block;
    /* color: var(--secondary-color); */
}


.user-info{
    margin: 0;
}

.user-list-content{
    margin: 3% 0%;
}

.user-list-link:link, .user-list-link:visited{
    color: var(--secondary-color);  
    text-decoration: none;
}

.user-list-name{
    font-weight: 700;
}
  
  
