.sidebar-area-container{
    margin-right: 1vw;
}


.user-details-container{
    background-color: var(--secondary-color);
    color:var(--primary-color);
    height: fit-content;
    width: 25vw;
    /* height: 100%; */
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.user-details-back:link, .user-details-back:visited{
    color: var(--secondary-color);
    text-decoration: none;
}

.user-details-content-wrapper{
    float: left;
    /* margin-left: 15vw; */

    /* margin-top: 2vh; */
    /* margin-bottom: 2vh; */
    /* margin-right: 1.2vw; */
    background-color: white;
    border-radius: 10px;
    border-color: transparent;
    height: 84%;
    width: 35vw;
    padding: 2vw 3vw;
    color: var(--secondary-color);
    white-space: pre-wrap;
    text-align: left;
}

.user-details-section{
    margin: 1vw 0vw;
    width: 100%;
}


.user-details-content-wrapper p{
    margin: 0;
}



.user-details-label{
    font-size: small;
}

.user-details-info{
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    height: 1.5rem;
    border-radius: 8px;
    font-weight: 500;
}

.user-details-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.user-delete-btn-wrapper{
    float: left;
}
.user-edit-btn-wrapper{
    float: right;
}

